body{margin: 0;
background:url(image/background.jpg);
background-repeat: no-repeat;
background-size: 6000px;
}
/*this is the body*/
header{
	text-align: center;
	color: blue;
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul{display: flex;/*this code helps to make content display on column or row*/
	flex-direction: row;/*this is the direction of content*/
	text-decoration: none;
	list-style: none;}
/*this is the ul section*/

ul li{margin: 0.5%; 
	padding: 1%;
	font-size: 20px;
	background-color:none ;
	width: 100%;
	color: red;}
/*this the ul section*/
ul li a{
	display: block;
    font-size: 20px;
    width:100%;
    text-align: center;}
/*this is the ul li a section where allc ontent lies*/
ul li:hover{background: blue;}
/*this the hover section of ul li */

section {display: flex;
	flex-direction: row;
    }
/*this the whole section */    
section div:first-child{padding: 4%;
	width: 41%;
	}
/* this is the first child of the section*/	
section div img{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	-webkit-transition;width: 2s;height: 2s;
	transition: width 2s; height: 2s;
}
/*this is the image in first child*/
section div:nth-child(2){
	padding: 4%;
	width: 42%;
	float:right;
	font-size: 30px;
	}
/*this is the second child*/	
p {
	size: 50px;
	
}
/*this is the heading of second child*/
footer{padding:4%;
	font-size: 50px;
	margin-top:50px;
	text-align: center;
	color: red;}
/*this is the footer section*/

/*this is the responsive section*/
@media screen and (max-width: 600px){
	ul{ 
		flex-direction: column;
		}
	ul li{
		  width: 96%;
		  margin: 1%;
		  padding: 1%;
		}
	
	section{
		flex-direction:column;
	}

	section div img{
		width: 200px;
		height: 200px;
	}
	section div:nth-child(2){
		width: 94%;
		margin: 1%;
		padding: 1%;}

	header div{flex-direction: column;}
}
